<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @event.image.url(:medium) %>
        <div class="star-rating" data-score= <%= @avg_review%> ></div>
        <em><%="#{@reviews.length} reviews"%></em>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Name:</strong></td>
                <td><%= @event.name %></td>
              </tr>
              <tr>
                <td><strong>Date:</strong></td>
                <td><%= @event.date %></td>
              </tr>
              <tr>
                <td><strong>Time:</strong></td>
                <td><%= @event.time %></td>
              </tr>
              <tr>
                <td><strong>Venue:</strong></td>
                <td><%= @event.venue %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @event.description %></td>
              </tr>
              <tr>
                <td><strong>Category:</strong></td>
                <td><%= @event.category %></td>
              </tr>
            </tbody>
          </table>
          <%= link_to "Write a Review", new_event_review_path(@event) %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <p><u><b><%= @event.name  %></b></u> - <em><%= @event.description %></em></p><br><br>
        <b><u><p>User Reviews( sorted by latest)</p></u></b>
        <% if @reviews.blank? %>
          <h3>No reviews yet, would you like to add first?</h3>
          <%= link_to "Write Review", new_event_review_path(@event), class: "btn btn-danger" %>
          <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews">
              <div class="star-rating" data-score= <%= review.rating%> ></div>
              <p><%= review.comment %></p>
            </div>
          <% end %>
        <% end %>
       </div>
    </div>    
  </div>
</div>
<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Back', events_path %>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
  }
});
</script>